[Unit]
Description=zapd Zap服务器控制面板
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
WorkingDirectory=/usr/local/zap
ExecStart=/usr/local/zap/zapd master
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target